{% extends 'base.html.twig' %}

{% block title %}Winkelwagen{% endblock %}

{% block body %}
    <h1>Een overzicht van producten in winkelwagen</h1>
    <a href="{{ path('delete_cart_product_all') }}"><button type="button" class="btn btn-outline-danger">Delete All</button></a>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Naam</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Price</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {%  for product in products %}
            <tr>
                <td>{{ product.product.name }}</td>
                <td><img src="{{ asset(product.product.image) }}" class="img-fluid" alt="{{ product.product.image }}"></td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.product.price }}</td>
                <td>{{ product.product.price * product.quantity }}</td>
                <td><a href="{{ path('delete_cart_product', {'id': product.product.id}) }}"><button type="button" class="btn btn-outline-danger">Delete</button></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h4>U betaalt {{ totalPrice }}</h4>
    </div>
{% endblock %}
